
<ul class='flex flex-col justify-center'>
  <li class='flex justify-center py-5'>
      <%= link_to root_path id: 'home_icon' do %>
        <i class="fa-solid fa-house fa-xl"></i>
      <%end%>
  </li>
  <li class='flex justify-center py-5'>
    <%= link_to root_path id: 'evaluations_icon' do %>
      <i class="fa-solid fa-list-check fa-xl"></i>
    <%end%>
  </li>
  <li class='flex justify-center py-5'>
    <%= link_to root_path id: 'chapters_icon' do %>
      <i class="fa-solid fa-square-poll-horizontal fa-xl"></i>
    <%end%>
  </li>
  <li class='flex justify-center py-5'>
    <%= link_to root_path id: 'survey_icon' do %>
      <i class="fa-solid fa-folder-open fa-xl"></i>
    <%end%>
  </li>
</ul>
