<main>
  <section class='h-96 flex justify-center items-center gap-10 bg-mainColor'>
    <div class='text-white text-center'>
      <p class='font-semibold text-3xl py-5'>
        Survey App
      </p>
      <p>
        Crete your first survey.
      </p>
      <p>
        Start sending surveys to different companies around the world.
      </p>
    <div class='py-5'>
      <%= button_to root_path, id: 'get_started' do%>
        <div class='bg-signIn rounded-lg p-4 text-black'>
          <i class='fa-solid fa-circle-arrow-right px-2'></i> 
          <span class='text-bold'>
            Get Started
          </span>
        </div>
      <%end%>
    </div>
    <p class='text-sm text-semibold'>
      survey-app.com
    </p>
    </div>
    <div>
      <%= image_tag('ruby.png', width: '250')%>
    </div>
  </section>
  <section>
    <div class='flex flex-around justify-center p-10'>
      <% @companies.each do |companie| %>
        <%= image_tag("companies/#{companie}.png", width: '150')%>
      <%end%>
    </div>
    <p class='text-center text-sm font-semibold text-mainColor px-10 pb-10'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <p>
  </section>
</main>
